<div class="row">
    <div class="col-3">
        <app-sidebard></app-sidebard>
    </div>
    <div class="content col-9 row px-0 ">
        <app-header></app-header>
        <div class="px-5">
            <h3><b>Programar Sesión con Entrenador</b></h3>
            <hr>
            <form action="submit_session_form" method="post">
                <label for="entrenamiento">Tipo de Entrenamiento:</label>
                <select id="entrenamiento" name="entrenamiento" required>
                    <option value="">Seleccione una opción</option>
                    <option value="personalizado">Personalizado</option>
                    <option value="grupal">Grupal</option>
                    <option value="especifico">Específico (Indique en comentarios)</option>
                </select>
    
                <div class="row">
                    <div class="col-6">            
                        <label for="fecha">Fecha de la Sesión:</label>
                        <input type="date" id="fecha" name="fecha" required>
                    </div>
        
                    <div class="col-6"> 
                        <label for="hora">Hora de la Sesión:</label>
                        <input type="time" id="hora" name="hora" required>
                    </div>
                </div>
                
                <label for="comentarios">Comentarios Adicionales:</label>
                <textarea id="comentarios" name="comentarios" rows="4"></textarea>
        
                <button type="submit">Enviar Solicitud</button>
            </form>
        </div>

    </div>
</div>
