<div class="row">
  <div class="col-3">
    <app-sidebard></app-sidebard>
  </div>
  <div class="content col-9 position-relative px-0">
    <div class="position-sticky top-0 z-3">
      <app-header></app-header>
    </div>
    <div class="p-4 mx-5">
      <h3><b>Programar Sesión con Entrenador</b></h3>
      <hr>
      <form id="formEntrenador" class="form" method="post" (submit)="solicitarSesionEntrenador()">
        <h6>Tipo de entrenamiento:</h6>
        <select class="form-select my-3" id="entrenamiento" name="entrenamiento" [(ngModel)]="tipoEntrenamiento" required>
          <option value="" disabled selected>Selecciona el programa de entrenamiento requerido...</option>
          <option value="Personalizado">Personalizado</option>
          <option value="Grupal">Grupal</option>
          <option value="Especifico">Específico (Indique en los comentarios)</option>
        </select>
        <div class="row">
          <div class="input-group mb-3 col">
            <span class="input-group-text" id="numero">Fecha de la sesión</span>
            <input type="date" class="form-control mt-0" id="fechaSesion" name="fechaSesion" [(ngModel)]="fechaSesion" placeholder="Fecha de la sesión" aria-label="Username"
                   aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3 col">
            <span class="input-group-text" id="direccion">Hora de la sesión</span>
            <input type="time" class="form-control mt-0" id="horaSesion" name="horaSesion" [(ngModel)]="horaSesion" placeholder="Hora de la sesión" aria-label="Username"
                   aria-describedby="basic-addon1">
          </div>
        </div>
        <h6>Comentarios adicionales:</h6>
        <textarea class="form-control mt-0" id="comentarios" name="comentarios" [(ngModel)]="comentarios"
                  placeholder="Puedes escribir acá los comentarios adicionales relacionados a la sesión solicitada." aria-label="Username" aria-describedby="basic-addon1" rows="4"></textarea>
        <a>
          <button type="submit" class="btn btn-danger">Solicitar sesión con entrenador</button>
        </a>
        <hr>
        <h6 *ngIf="activarMensajeExitoso">{{ mensajeExitoso }}</h6>
      </form>
    </div>
  </div>
</div>
