<div class="row">

    <div class="content col-12 position-relative bg-light vh-100">
        
        <app-header-socios></app-header-socios>

        <div class=" ps-5 pe-4  my-3 ">
            <div class="row dashboard-section">
                <div class="col-md-12 text-center">
                    <img src="https://via.placeholder.com/150" class="rounded-circle profile-pic" alt="User">
                    <h3>Socio de Negocio</h3>
                    <p>Detalles del perfil deportivo</p>
                </div>
            </div>
    
            <div class="row dashboard-section">
                <div class="col-md-4">
                    <div class="card-counter">
                        <h4>Servicios Publicados</h4>
                        <h2>7</h2>
                        <p class="card-text">Has publicado 7 servicios diferentes</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-counter">
                        <h4>Servicios Vendidos</h4>
                        <h2>120</h2>
                        <p class="card-text">120 personas han contratado tus servicios </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-counter">
                        <h4>Servicio Mas Popular</h4>
                        <h5>Transpote a Cerros Orientales</h5>
                        <p class="card-text">Has logrado vender 50 servicos este mes</p>
                    </div>
                </div>
            </div>
    
            <div class="row dashboard-section">
                <div class="col-md-6">
                    <div class="card-counter">
                        <h4>Balance de Cuenta</h4>
                        <ul class="list-unstyled">
                            <li>Has Facturado <b>$4.300.000</b> este mes </li>
                            <li>Has recibido <b>3.000.000</b> por Tarjeta de Credito</li>
                            <li>Has recibido <b>1.300.000</b> por Trasnferencias/li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-counter">
                        <h4>Estadísticas</h4>
                        <p class="card-text">Estas en el <b>top 10</b> de los vendedores</p>
                        <p class="card-text">promedio de servicios contratados por mes <b>135</b></p>
                        <p class="card-text">Precio promedio de tus servicios <b>$102.000</b></p>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>
