body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

.background {
    background-image: url('../../../assets/img/running2.webp');
    background-size: cover; // Ajusta el tamaño de la imagen de fondo
    height: 100%; // Ajusta la altura del contenedor al 100% de la ventana
  }
.footer {
    background-color: #000; /* Black */
    color: #fff; /* White */
    text-align: center;
    padding: 20px 0;
  }

.header {
    background-color: #000; /* Black */
    color: #fff; /* White */
    text-align: center;
    padding: 15px 0;
    font-family: Arial, cursive;
  }

.register-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.register-form h2 {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra verticalmente */
        align-items: center; /* Centra horizontalmente */
        padding-bottom: 30px;
}
.form {
    width: 75%;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 3px;
}


.form-group input {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.card-text{
    font-size: 13px !important;
    height: 100px;

}

.form-submit{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */

}
.form-submit button {
    background-color: #d50000; /* Red */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}
.data_group{
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.form-submit button:hover {
    background-color: #b90505; /* Red */
}

.button {
    background-color: #d50000; /* Red */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
    width: 75%;
  }

.socios_card{
    font-size: 14px !important;
}

.socios_card h6{
    font-size: 14px !important;
}

.form-group select {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button[disabled] {
  background-color: #dddddd;
  color: #888888;
  cursor: not-allowed;
}

