<div class = "contenedor">
    <div class="side_bard">
        <h2><b>SportApp</b></h2>
        <div class="userdata">
            <p class="name"><b>Jhon Terry</b></p>
            <p>Edad: <b>28</b></p>
            <p>Estatura: <b>1.8m</b></p>
            <p>Peso: <b>80kg</b></p>
            <p>Bogota, Colombia</p>
            <br>
            <a routerLink="/dashboard">
                <button type="button" class="btn btn-light">Gestionar Cuenta</button>  
            </a>
        </div>
    
        
        
        <div class="nav">
            <p>Contact Us <br> 
            About Us <br>   
            Privacy Policy
            </p>
        </div>
    
        
    </div>
</div>
