<div class="row">
    <div class="col-3">
        <app-sidebard></app-sidebard>
    </div>
    <div class="content col-9 row">
        <app-header></app-header>
        <form (ngSubmit)="registrarServicio()" class="px-5">
          <h3><b>Programar Cita en Mototaller</b></h3>
          <hr>
          <div class="row">
              <div class="col-6">
                  <label for="fecha">Fecha de la Sesión:</label>
                  <input type="date" id="fecha" name="fecha" [(ngModel)]="motoTallerData.fechaSesion" required>
              </div>

              <div class="col-6">
                  <label for="hora">Hora de la Sesión:</label>
                  <input type="time" id="hora" name="hora" [(ngModel)]="motoTallerData.horaSesion" required>
              </div>
          </div>

          <label for="comentarios">Describe el problema:</label>
          <textarea id="comentarios" name="comentarios" rows="4" [(ngModel)]="motoTallerData.comentariosAdicionales"></textarea>

          <button type="submit">Enviar Solicitud</button>
          <div *ngIf="solicitudCorrecta" class="alert alert-success" role="alert">
            Solicitud enviada de manera exitosa.
          </div>
        </form>



    </div>

</div>
