<div class="row">
    <app-header-socios></app-header-socios>
    <div class="content col-12 position-relative bg-light mx-3"> 
    <div class="container px-5 py-3">
        <div class = "row">
            <h2>Contratos/Servicios Ofrecidos</h2>
            <hr>
            <div class="col-4">        
                <app-vertical-card-img titulo="Servico de Transporte a Cerros Orientales" 
                descripcion="Servicio de Transporte a Cerros Orientales"
                extra="Eliminar" imagen="https://picsum.photos/400/200">
                </app-vertical-card-img>
                
            </div>
            <div class="col-4">
                <app-vertical-card-img titulo="Servicios de Entrenamiento Personalizado" 
                descripcion="Entrenamiento personalizado para mejorar tu rendimiento"
                extra="Eliminar" imagen="https://picsum.photos/402/201">
                </app-vertical-card-img>
            </div>
            <div class="col-4">
                <app-vertical-card-img titulo="Servico de Alimentacion" 
                descripcion="Servicio de Transporte a Cerros Orientales"
                extra="Eliminar" imagen="https://picsum.photos/404/202">
                </app-vertical-card-img>
                
            </div>
            <div class="col-4">
                <app-vertical-card-img titulo="Servicios de Toallas" 
                descripcion="Entrenamiento personalizado para mejorar tu rendimiento"
                extra="Eliminar" imagen="https://picsum.photos/406/203">
                </app-vertical-card-img>
            </div>
            <div class="col-4">        
                <app-vertical-card-img titulo="Servico de Transporte a Cerros Orientales" 
                descripcion="Servicio de Transporte a Cerros Orientales"
                extra="Eliminar" imagen="https://picsum.photos/408/204">
                </app-vertical-card-img>
                
            </div>
            <div class="col-4">
                <app-vertical-card-img titulo="Servicios de Entrenamiento Personalizado" 
                descripcion="Entrenamiento personalizado para mejorar tu rendimiento"
                extra="Eliminar" imagen="https://picsum.photos/410/205">
                </app-vertical-card-img>
            </div>
            
        </div>
    </div>
        
                
    </div>
</div>
