<div class="row">
    <div class="col-3 p-0">
        <app-sidebard></app-sidebard>
    </div>
    <div class="content col-9 position-relative">
       <div class="position-sticky top-0 z-3">
          <app-header></app-header>
       </div>
        
        <div class="px-5 py-4 row">
          <h4><b>Contratar Servicios</b></h4>
          <hr>
          <div class="col-4">
            <app-horizontal-card
            titulo="Carrera de 10 Km" 
            descripcion="Este segmento del plan de entrenamiento está diseñado para mejorar tu resistencia y velocidad, 
                         enfocándote en alcanzar una distancia de 10 km. Incluye ejercicios de calentamiento, 
                         series de ritmo variado y consejos de recuperación." 
            fecha="2024-07-30">
            </app-horizontal-card>
          </div>
          <div class="col-4">
            <app-horizontal-card
            titulo="Carrera de 10 Km" 
            descripcion="Este segmento del plan de entrenamiento está diseñado para mejorar tu resistencia y velocidad, 
                         enfocándote en alcanzar una distancia de 10 km. Incluye ejercicios de calentamiento, 
                         series de ritmo variado y consejos de recuperación." 
            fecha="2024-07-30">
            </app-horizontal-card>
          </div>
          <div class="col-4">
            <app-horizontal-card
            titulo="Carrera de 10 Km" 
            descripcion="Este segmento del plan de entrenamiento está diseñado para mejorar tu resistencia y velocidad, 
                         enfocándote en alcanzar una distancia de 10 km. Incluye ejercicios de calentamiento, 
                         series de ritmo variado y consejos de recuperación." 
            fecha="2024-07-30">
            </app-horizontal-card>
          </div>
          <div class="col-4">
            <app-horizontal-card
            titulo="Carrera de 10 Km" 
            descripcion="Este segmento del plan de entrenamiento está diseñado para mejorar tu resistencia y velocidad, 
                         enfocándote en alcanzar una distancia de 10 km. Incluye ejercicios de calentamiento, 
                         series de ritmo variado y consejos de recuperación." 
            fecha="2024-07-30">
            </app-horizontal-card>
          </div>
          <div class="col-4">
            <app-horizontal-card
            titulo="Carrera de 10 Km" 
            descripcion="Este segmento del plan de entrenamiento está diseñado para mejorar tu resistencia y velocidad, 
                         enfocándote en alcanzar una distancia de 10 km. Incluye ejercicios de calentamiento, 
                         series de ritmo variado y consejos de recuperación." 
            fecha="2024-07-30">
            </app-horizontal-card>
          </div>
          <div class="col-4">
            <app-horizontal-card
            titulo="Carrera de 10 Km" 
            descripcion="Este segmento del plan de entrenamiento está diseñado para mejorar tu resistencia y velocidad, 
                         enfocándote en alcanzar una distancia de 10 km. Incluye ejercicios de calentamiento, 
                         series de ritmo variado y consejos de recuperación." 
            fecha="2024-07-30">
            </app-horizontal-card>
          </div>


        </div>


    </div>
    
</div>
