<div class="row">
    <div class="col-3 p-0">
        <app-sidebard></app-sidebard>
    </div>
    <div class="content col-9 position-relative">
       <div class="position-sticky top-0 z-3">
          <app-header></app-header>
       </div>
        
      <div class="px-5 py-4 row">
          <h3><b>Contratar Servicios</b></h3>
          <hr>
    

        <div class="col-4">
            <app-vertical-card-img titulo="Servicios de MotoTaller" 
            descripcion="Servicios especializados en reparación y mantenimiento de motocicletas. Desde ajustes básicos hasta reparaciones complejas, nuestro equipo experto te garantiza calidad."
            extra="Agenda tu cita" imagen="../../../assets/img/llave-inglesa_color.png"
            link="/servicios/mototaller">
            </app-vertical-card-img>
        </div>
        <div class="col-4">
            <app-vertical-card-img titulo="Contratar Servicios de Alimentación" 
            descripcion="Servicios de alimentación de calidad con menús personalizados para atender tus necesidades nutricionales con variedad de opciones disponibles para ayudarte."
            extra="Solicitar" imagen="../../../assets/img/comida-sana.png"
            link ="/servicios/alimentacion">
            </app-vertical-card-img>
            
        </div>
        <div class="col-4">
            <app-vertical-card-img titulo="Programar Sesión con Entrenador" 
            descripcion="Programa de entrenamiento personalizado por expertos en fitness. Desde pérdida de peso hasta fortalecimiento muscular, nuestro entrenador te guía hacia tus metas.."
            extra="Agenda tu cita" imagen="../../../assets/img/entrenador.png"
            link="/servicios/entrenador">
            </app-vertical-card-img>
        </div>
      </div>
    


    </div>
    
</div>
