<div class="row">
    <div class="col-3 p-0">
        <app-sidebard></app-sidebard>
    </div>
    <div class="content col-9 position-relative">
       <div class="position-sticky top-0 z-3">
          <app-header></app-header>
       </div>
        
      <div class="px-5 py-4 row">
          <h4><b>Contratar Servicios</b></h4>
          <hr>
        <div class="col-4">        
            <app-vertical-card-img titulo="Servico de Transporte a Cerros Orientales" 
            descripcion="Servicio de Transporte a Cerros Orientales"
            extra="Contratar" imagen="https://picsum.photos/400/200">
            </app-vertical-card-img>
            
        </div>
        <div class="col-4">
            <app-vertical-card-img titulo="Servicios de Entrenamiento Personalizado" 
            descripcion="Entrenamiento personalizado para mejorar tu rendimiento"
            extra="Contratar" imagen="https://picsum.photos/402/201">
            </app-vertical-card-img>
        </div>
        <div class="col-4">
            <app-vertical-card-img titulo="Servico de Alimentacion" 
            descripcion="Servicio de Transporte a Cerros Orientales"
            extra="Contratar" imagen="https://picsum.photos/404/202">
            </app-vertical-card-img>
            
        </div>
        <div class="col-4">
            <app-vertical-card-img titulo="Servicios de Toallas" 
            descripcion="Entrenamiento personalizado para mejorar tu rendimiento"
            extra="Contratar" imagen="https://picsum.photos/406/203">
            </app-vertical-card-img>
        </div>
        <div class="col-4">        
            <app-vertical-card-img titulo="Servico de Transporte a Cerros Orientales" 
            descripcion="Servicio de Transporte a Cerros Orientales"
            extra="Contratar" imagen="https://picsum.photos/408/204">
            </app-vertical-card-img>
            
        </div>
        <div class="col-4">
            <app-vertical-card-img titulo="Servicios de Entrenamiento Personalizado" 
            descripcion="Entrenamiento personalizado para mejorar tu rendimiento"
            extra="Contratar" imagen="https://picsum.photos/410/205">
            </app-vertical-card-img>
        </div>
      </div>
    


    </div>
    
</div>
