<div class="row">
    <div class="col-3 p-0">
        <app-sidebard></app-sidebard>
    </div>
    <div class="content col-9 position-relative">
       <div class="position-sticky top-0 z-3">
          <app-header></app-header>
       </div>
        
        <div class="px-5 py-4">
          <h4><b>Entrenamientos para Hoy</b></h4>
          <hr>
          <div class="card mb-5">
              <div class="row g-0">
                <div class="col-md-12">
                  <div class="card-body">
                    <h5 class="card-title">Ejercicio Recomendado: Carrera de 10 Km</h5>
                    <p class="card-text">Este segmento del plan de entrenamiento está diseñado para mejorar tu resistencia y velocidad, enfocándote en alcanzar una distancia de 10 km. Incluye ejercicios de calentamiento, series de ritmo variado y consejos de recuperación.</p>


                    <p class="card-text"><small class="text-muted">2024-07-30</small></p>
                  </div>
                </div>
              </div>
          </div>
          <h4> <b>Calendario de Eventos y Entrenamientos</b></h4>
          <hr>
          <app-calendar></app-calendar>

        </div>


    </div>
    
</div>
