<nav class="navbar navbar-expand-lg bg-light px-5 navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">SportApp <span class="type">Socios</span> </a>
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item px-4">
            <a class="nav-link text-white" aria-current="page" routerLink="/socios">Mi cuenta</a>
          </li>
          <li class="nav-item px-4 ">
            <a class="nav-link text-white" routerLink="/socios/agregar_servicios">Registrar Servicio</a>
          </li>
          <li class="nav-item px-4 ">
            <a class="nav-link text-white" routerLink="/socios/gestion_contratos">Gestión de Contratos</a>
          </li>
          <li class="nav-item px-4 ">
            <a class="nav-link text-white" routerLink="/socios/formas_pago">Administrar Formas de Pago</a>
          </li>
        </ul>
      </div>

      <app-leng-selector></app-leng-selector>
      
    </div>
</nav>

