<div class="row">
    <div class="col-3 p-0">
        <app-sidebard></app-sidebard>
    </div>
    <div class="content col-9 row">
        <app-header></app-header>
        <div class=" ps-5 pe-4 ">
            <div class="row dashboard-section">
                <div class="col-md-12 text-center">
                    <img src="https://via.placeholder.com/150" class="rounded-circle profile-pic" alt="User">
                    <h3>Nombre del Usuario</h3>
                    <p>Detalles del perfil deportivo</p>
                </div>
            </div>
    
            <div class="row dashboard-section">
                <div class="col-md-4">
                    <div class="card-counter">
                        <h4>Entrenamientos Realizados</h4>
                        <h2>45</h2>
                        <p class="card-text">Has completado 45 sesiones de entrenamiento este mes</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-counter">
                        <h4>Calorías Quemadas</h4>
                        <h2>15,000</h2>
                        <p class="card-text">Total de calorías quemadas en el último mes</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-counter">
                        <h4>Distancia Recorrida</h4>
                        <h2>120 Km</h2>
                        <p class="card-text">Has recorrido un total de 120 km este mes</p>
                    </div>
                </div>
            </div>
    
            <div class="row dashboard-section">
                <div class="col-md-6">
                    <div class="card-counter">
                        <h4>Metas Alcanzadas</h4>
                        <ul class="list-unstyled">
                            <li>5 km en menos de 30 min</li>
                            <li>10 entrenamientos en un mes</li>
                            <li>500 calorías quemadas en una sesión</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-counter">
                        <h4>Estadísticas de Rendimiento</h4>
                        <p class="card-text">Mejora del rendimiento en un 20% respecto al mes anterior</p>
                        <p class="card-text">Tiempo promedio de entrenamiento: 45 min</p>
                        <p class="card-text">Mejora en la resistencia cardiovascular</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
