<div class="row">
  <div class="col-3 p-0">
      <app-sidebard></app-sidebard>
  </div>
  <div  class="content col-9 row">
      <app-header></app-header>
      <div class=" ps-5 pe-4 " *ngIf="userStatics">
          <div class="row dashboard-section justify-content-center">
              <div class="col-md-12 text-center">
                  <img [src]="profilePictureSrc" class="rounded-circle profile-pic" alt="User">
                  <h3 *ngIf="auth.user$ | async as user">{{ user.email }}</h3>

                  <p>{{'DETALLES_PERFIL_DEPORTIVO' | translate}}</p>

              </div>
              <div class="col-md-4">
                <div class="card-counter">
                    <a (click)="vincularConStrava()" class="d-block">
                        <div class="text-center">
                            <img src="../../../assets/img/strava.png" width="30px" alt="strava logo">
                            <h6 class="ms-2 py-1 my-1">{{ 'VINCULAR_CUENTA_STRAVA' | translate }}</h6>
                        </div>
                        <div *ngIf="finalUser.strava" class="alert alert-success mt-2" role="alert">
                            {{ 'Tu cuenta está vinculada.' | translate }}
                        </div>
                    </a>
                </div>
            </div>

          </div>

          <div class="row dashboard-section">
              <div class="col-md-4">
                  <div class="card-counter">
                      <h4>{{'ENTRENAMIENTOS_REALIZADOS' | translate}}</h4>
                      <h2>{{ userStatics.total_trainnings_month }}</h2>
                      <p class="card-text">Has completado {{ userStatics.total_trainnings_month }} sesiones de entrenamiento este mes</p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card-counter">
                      <h4>{{'CALORIAS_QUEMADAS' | translate}}</h4>
                      <h2>{{ userStatics.total_calorias_month}}</h2>
                      <p class="card-text">Total de calorías quemadas en el último mes</p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card-counter">
                      <h4>{{'DISTANCIA_RECORRIDA' | translate}}</h4>
                      <h2>{{ userStatics.total_distancia_month }} Km</h2>
                      <p class="card-text">Has recorrido un total de {{ userStatics.total_distancia_month }} km este mes</p>
                  </div>
              </div>
          </div>

          <div class="row dashboard-section">
              <div class="col-md-6">
                  <div class="card-counter">
                      <h4>{{'METAS_ALCANZADAS' | translate}}</h4>
                      <ul class="list-unstyled">
                          <li>Calorías máximas en una sesión en el mes: {{userStatics.max_calories_training_month}} kcal </li>
                          <li>Máxima distancia recorrida en una sesión del mes: {{ userStatics.max_distance_training_month}} km </li>
                          <li>Máximo tiempo entrenando en una sesión del mes: {{userStatics.max_time_training_month}} min</li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="card-counter">
                      <h4>{{'ESTADISTICAS_RENDIMIENTO' | translate}}</h4>
                      <p class="card-text">Tiempo promedio de entrenamiento: {{ userStatics.mean_time_training_month}} min</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
