<div class="page">

<div class="header">
  <h1>SportApp</h1>
</div>

<div class="main-content">
  <div class="image-section">
    <img src="../assets/img/running1.webp" alt="Sports Image">
  </div>
  <div class="login-register">
    <h2 class="w-75">¡¡Bienvenido a nuestro sitio Web de Deportes!!</h2>
    <p class="w-75">Porfavor inicia sesión o registrate para continuar</p>
    <a routerLink="/inicio_sesion">
        <button class="button">Iniciar Sesión</button>
    </a>
    <br>
    <a routerLink="/registro">
    <button class="button">Registrase</button>
    </a>
  </div>
</div>

<app-footer></app-footer>


</div>