<div class="page">

<app-header-inicio></app-header-inicio>

<div class="main-content">
  <div class="image-section">
    <img src="../assets/img/running1.webp" alt="Sports Image">
  </div>
  <div class="login-register">
    <h3 class="w-100"><b>¡¡Bienvenido a nuestro sitio Web de Deportes!!</b></h3>
    <p class="w-100">Porfavor inicia sesión o registrate para continuar</p>
    <a >
       <app-auth-button></app-auth-button>
    </a>
    <br>
    <a routerLink="/registro">
    <button class="button">Registrase</button>
    </a>
  </div>
</div>

<app-footer></app-footer>


</div>
