<div class="page">

<app-header-inicio></app-header-inicio>

<div class="main-content">
  <div class="image-section">
    <img src="../assets/img/running1.webp" alt="Sports Image">
  </div>
  <div class="login-register">
    <h3 class="w-100"><b>{{'Bienvenido' | translate}}</b></h3>
    <p class="w-100">{{'inv-login' | translate}}</p>
    <a >
       <app-auth-button></app-auth-button>
    </a>
    <br>
    <a routerLink="/registro">
    <button class="button">{{'Registrarse' | translate}}</button>
    </a>
  </div>
</div>

<app-footer></app-footer>


</div>
