<div class="row">
    <div class="col-3">
        <app-sidebard></app-sidebard>
    </div>
    <div class="content col-9 row">
        <div class="col-6 ">
            <a class="tile bg_img_plan" routerLink="/generar_plan_entrenamiento">
                <p >{{'PLAN_ENTRENAMIENTO' | translate}}</p>
            </a>
        </div>
        <div class="col-6 ">
            <a class="tile bg_img_ev" routerLink="/eventos"><p>{{'EVENTOS' | translate}}</p></a>
        </div>
        <div class="col-6 ">
            <a class="tile bg_img_sr" routerLink="/servicios_terceros" ><p>{{'SERVICIOS_TERCEROS' | translate}}</p></a>
        </div>
        <div class="col-6 ">
            <a class="tile bg_img_es" routerLink="/dashboard"> <p>{{'DASHBOARD' | translate}}</p> </a>
        </div>

    </div>

</div>
