<div class="row">
    <div class="col-3">
        <app-sidebard></app-sidebard>
    </div>
    <div class="content col-9 row">
        <div class="col-6 ">
            <div class="tile bg_img_plan">
                <p >Plan de Entrenamiento</p>
            </div> 
        </div>
        <div class="col-6 ">
            <div class="tile bg_img_ev"><p>Eventos Recomendados</p></div>            
        </div>
        <div class="col-6 ">
            <div class="tile bg_img_sr"><p>Contratar Servicios</p></div>  
        </div>
        <div class="col-6 ">
            <div class="tile bg_img_es"> <p>Dasboard de Estadisticas</p> </div>
        </div>

    </div>
    
</div>
