<div class="row">
    <div class="col-3">
        <app-sidebard></app-sidebard>
    </div>
    <div class="content col-9 row">
        <div class="col-6 ">
            <a class="tile bg_img_plan" routerLink="/generar_plan_entrenamiento">
                <p >Plan de Entrenamiento</p>
            </a> 
        </div>
        <div class="col-6 ">
            <a class="tile bg_img_ev" routerLink="/eventos"><p>Eventos Recomendados</p></a>            
        </div>
        <div class="col-6 ">
            <a class="tile bg_img_sr" routerLink="/servicios_terceros" ><p>Contratar Servicios</p></a>  
        </div>
        <div class="col-6 ">
            <a class="tile bg_img_es" routerLink="/dashboard"> <p>Dasboard de Estadisticas</p> </a>
        </div>

    </div>
    
</div>
