<div class="row">
    <div class="col-3 p-0">
        <app-sidebard></app-sidebard>
    </div>
    <div class="content col-9 position-relative">
       <div class="position-sticky top-0 z-3">
          <app-header></app-header>
       </div>
        
        <div class="px-5 py-4">
          <h4><b> {{'EVENTOS_RECOMENDADOS' | translate}}</b></h4>
          <hr>
          <div class="eventos-list-holder">
            <ng-container *ngFor="let evento of eventos_general">
                <app-horizontal-card
                  [titulo]="evento.titulo" 
                  [descripcion]="evento.descripcion" 
                  [fecha]="evento.fecha">
                </app-horizontal-card>
              </ng-container>
          </div>
          <br>
          <h4> <b>{{'CALENDARIO_EVENTOS_ENTRENAMIENTOS' | translate}}</b></h4>
          <hr>
          <app-calendar [calendarOptions]="calendarOptions"></app-calendar>

        </div>


    </div>
    
</div>
