<div class="row">
    <div class="col-3">
        <app-sidebard></app-sidebard>
    </div>
    <div class="content col-9 row">
        <app-header></app-header>
        <div class="px-5">
            <h3><b>Solicitar Alimentación</b></h3>
            <hr>
            <form action="submit_session_form" method="post">
                <label for="alimentacion">Tipo de Alimentación Deportiva:</label>
                <select id="alimentacion" name="alimentacion" required>
                    <option value="">Selecciona una opción</option>
                    <option value="Proteínas">Proteína Pro 1000g</option>
                    <option value="Carbohidratos">Carbohidratos 1000g</option>
                    <option value="Grasas saludables">Grasas saludables 1000g</option>
                    <option value="Suplementos">Suplementos</option>
                    <option value="Dieta equilibrada">Dieta equilibrada</option>

                </select>
    
                <label for="fecha">Numero de Contacto</label>
                <input type="number" id="fecha" name="fecha" required>
    
                <div class="row">
                    <div class="col-6">            
                        <label for="fecha">País donde se encuentra:</label>
                        <input type="text" id="fecha" name="fecha" required>
                    </div>
        
                    <div class="col-6"> 
                        <label for="hora">Ciudad donde se encuentra:</label>
                        <input type="text" id="hora" name="hora" required>
                    </div>
                </div>
                    <label for="hora">Dirrección:</label>
                    <input type="text" id="hora" name="hora" required>
              
                <button type="submit">Enviar Solicitud</button>
            </form>
        </div>
    </div>
    
</div>
